# 依赖
node_modules/

# 构建产物
dist/
release/

# 系统文件
.DS_Store
Thumbs.db

# 编辑器
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 环境变量
.env
.env.local
.env.*.local

# electron-builder 缓存
buildResources/
app-builds/
